// browser tabs 

.tab-background 
    margin: 0 !important
    border-radius: 0 !important
    background: url($svg_tab) !important
    background-size: 100% 100% !important
    background-repeat: no-repeat !important
    background-position: bottom !important
